// Universal border variable
$divBorder: 1px solid black;

body {
  background-color: #d8bd8a;
}

header {
  // Styling to keep header in view when scrolling down
  position: sticky;
  top: 0;
}

nav {
  background-color: #582817;
  border: $divBorder;
  // Margin aligns header with div giving space at ends on page
  margin: 0 2%;
  // Padding adds space around header text
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .name {
    color: antiquewhite;
    font-size: x-large;
    margin-left: 10px;
  }
  .webPages {
    font-size: 150%;
    margin-right: 2%;
    a {
      color: antiquewhite;
      text-decoration: none;
      margin-right: 20px;
    }
    a:hover {
      color: #d8bd8a;
    }
  }
}

.container {
  // Basic formatting for all container divs on each page
  background-color: #e4d9c3;
  // Set div display value to flex
  display: flex;
  flex-direction: column;

  // With formatting, places name and links at opposite ends of the header
  justify-content: space-between;
  // Formats margin to match edges with header
  margin: 0 2%;

  // Formatting for index page container
  border: $divBorder;
  color: #582817;
  img {
    border: $divBorder;
  }

  #quote {
    max-width: 600px;
    font-size: 2.5rem;
    font-family: cursive;
    font-weight: 700;
    padding: 4% 15%;
    text-align: justify;
    border-left: none;
    p {
      font-size: 1rem;
      text-align: right;
    }
  }
  #bio {
    display: flex;
    border-right: none;
    padding-bottom: 100px;

    p {
      // Sets text to jusity aligment and adds margins to the sides
      width: 800px;
      text-align: justify;
      margin-left: 10%;
      margin-right: 10%;
      font-size: 1.5em;
    }
    img {
      width: 20%;
      height: 10%;
      margin-right: 25px;
      margin-bottom: 4%;
    }
  }
  #computer, #ultimate, #yoga {
    display: flex;
    img {
      width: 20%;
      height: 10%;
      margin: 2%;
    }
    h2, p {
      margin: 2% 2% -1%;
    }
  }
  #computerHeading, #yogaHeading {
    margin-left: 2%;
    margin-bottom: -1%;
  }
  // #computerHeading, #ultimateHeading, #yogaHeading {
  //   max-width: fit-content;
  //   border-bottom: $divBorder;
  // }

}

.containerPort {
  // Basic formatting for all container divs on each page
  background-color: #e4d9c3;
  // Set div display value to flex
  display: flex;
  // With formatting, places name and links at opposite ends of the header
  justify-content: space-between;
  margin: 0 2%;
  color: #582817;

  img {
    border: $divBorder;
    margin-top: 10%;
    width: 250px;
    height: 200px;
  }
  div {
    border: $divBorder;
  }
  @for $i from 1 through 6 {
    #portfolio-#{$i} {
      padding: 2%;
      overflow: scroll;
    }
  }
  h2 {
    max-width: fit-content;
    border-bottom: $divBorder;
  }
}
