
nav{
    border-bottom: 1px solid black;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

   .name
    {
    font-size: x-large;
    margin-left: 10px;
   }
.webPages {
    font-size: 150%;
 a {
    margin-right: 10px;
 }
}
}